nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition);
    align-items: center;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo img{
    width: 7.5rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.nav_menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.theme_icon {
    background: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */

@media screen and (max-width: 1024px){
    .nav_menu {
        display: none;
    }
}