// bairrosdeentrega.module.scss

.bairros-container {
    padding: 20px;
  
    .search-row,
    .add-bairro-row {
      margin-bottom: 20px;
    }
  
    .search-col {
      display: flex;
      justify-content: flex-start;
  
      .form-control {
        margin-right: 10px;
      }
  
      .btn {
        flex-shrink: 0;
      }
    }
  
    .add-bairro-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .form-control {
        flex-grow: 1;
        margin-right: 10px;
      }
  
      .add-button {
        background-color: orange;
        border-color: orange;
      }
    }
  
    .card-row {
      .bairros-card {
        margin-bottom: 20px;
  
        .bairro-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: white; 
          padding: 15px; 
          border-radius: 5px; 
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
          transition: box-shadow 0.3s ease; 
  
          &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
          }
  
          .icon-container {
            display: flex;
            align-items: center;
  
            .edit-icon {
              margin-right: 10px;
              cursor: pointer;
            }
  
            .delete-icon {
              cursor: pointer;
            }
          }
        }
      }
    }
  
    .modal-dialog {
      max-width: 400px;
    }
  }
  